body{
  background-color: #b1e2f2;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #081014b0;
}

p {
  font-size: 24px;
}

#countdown {
  font-size: 72px;
  font-weight: bold;
  margin-top: 50px;
   color: #339fa2;
}
